:root {
    --main-color: #333;
    --background-color: #f4f4f4;
    --font-size: 16px;
    --hover-icpn-color: #F16A50;
    --header-heigth: 73px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: var(--font-size);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    width: 100%;
    height: var(--header-heigth);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #ffffffa8;

    .logo {
        min-width: 100px;
        height: 20px;
    }

    .link-list {
        display: none;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 10px;
        svg{
            width:20px;
            height: 20px;
        }

        .burger {
            margin-left: 25px;
        }
    }

    button {
        border: none;
        outline: none;
        background: inherit;
        cursor: pointer;
        padding: 5px;
    }

}
main{
    position: relative;
    top: var(--header-heigth);
    left: 0;
    right: 0;
    section{
        width: 100%;
        &>*{
            display: none;
        }
    }
    .baner{
        min-height: 385px;
        background: green;
        margin-bottom: 50px;
    }
    .arivals{
        min-height: 665px;
        background: yellow;
        margin-bottom: 50px;
    }
    .partners{
        min-height: 270px;
        background: blue;
    }
}

footer {
    width :100%;
    min-height: 325px;
    background: #35312D;
    &>*{
        display: none;
    }
}