:root {
    --main-color: #333;
    --background-color: #f4f4f4;
    --font-size: 16px;
    --active-color: #F16A50;
    --text-white: #F8F1EA;
    --text-dark: #000000;
    --header-heigth: 73px;
}

/* 320px */
/* 768px */
/* 1400px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: var(--font-size);
    font-family: Montserrat, sans-serif;
    color: var(--text-dark);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    width: 100%;
    height: var(--header-heigth);
    position: fixed;
    max-width: 1400px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #ffffffa8;

    .logo {
        width: 100px;
        height: 20px;
    }

    .link-list {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 10px;

        svg {
            width: 20px;
            height: 20px;
        }

        .burger {
            margin-left: 25px;
        }
    }

    button {
        border: none;
        outline: none;
        background: inherit;
        cursor: pointer;
        padding: 5px;
    }

}

main {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    top: var(--header-heigth);
    left: 0;
    right: 0;

    section {
        width: 100%;
    }

    .arivals>*,
    .partners>* {
        display: none;
    }

    .arivals {
        min-height: 665px;
        background: yellow;
        margin-bottom: 50px;
    }

    .partners {
        min-height: 270px;
        background: blue;
    }
}

.banner {
    min-height: 385px;
    background: green;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;

    .banner-bullets {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 12px;

        .banner-bullet {
            border-radius: 50px;
            border: none;
            outline: none;
            width: 12px;
            height: 12px;
            background: #F8F1EAB2;
            transition: background 0.3s ease;
            cursor: pointer;
        }

        .active {
            background: var(--active-color);
        }
    }

    .banner-card {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        padding: 60px 10px;
        transition: 0; 
        background-size: cover;
        background-position: 25% center;
        transform: translateX(-100%);
        opacity: 0;

        article {
            width: 210px;
            float: right;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            font-size: 26px;
            font-weight: 700;
            line-height: 31.69px;
            text-align: center;
            color: var(--text-white);
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        button {
            border: 2px solid var(--text-white);
            background: inherit;
            color: var(--text-white);
            padding: 10px 25px;
            min-width: 160px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;
            text-align: center;
            cursor: pointer;
        }
    }

    .prev {
        transform: translateX(100%); 
        opacity: 1;
        transition: transform 0.6s ease;
    }

    .active {
        transform: translateX(0); 
        opacity: 1;
        transition: transform 0.6s ease;
    }

    .next {
        transform: translateX(-100%); 
        opacity: 0.5;
        transition: transform 0.6s ease;
    }
}

footer {
    width: 100%;
    min-height: 325px;
    background: #35312D;

    &>* {
        display: none;
    }
}